/*
HEADER
*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 5vw;
  min-height: 50px;
  background-color: #9d9d9d;
  text-align: center;

  -webkit-box-shadow: 0 8px 6px -6px #292828;
  -moz-box-shadow: 0 8px 6px -6px #292828;
  box-shadow: 0 8px 6px -6px #292828;
}

header h1 {
  margin: 1vw 0;
  color: #e0c24b;
}

#logoim {
  position: absolute;
  float: left;
  left: 2%;
  margin-top: 0.2vw;
}

#logoim img {
  width: 4.5vw;
}

.flags {
  position: absolute;
  width: 1.8%;
  float: right;
  right: 5%;
  margin-top: -3.5%;
}

.flags img {
  width: 2vw;
}
@media screen and (min-width: 1400px) {
  header h1 {
    margin: 1.2vw 0;
  }
  .flags {
    margin-top: -3%;
  }
}
@media screen and (max-width: 800px) {
  #logoim img {
    width: 6vw;
  }
  .flags {
    right: 6%;
    margin-top: -5%;
  }
  .flags img {
    width: 3vw;
  }
}
@media screen and (max-width: 600px) {
  #logoim img {
    width: 7vw;
  }
  .flags {
    right: 7%;
    margin-top: -6%;
  }
  .flags img {
    width: 3.8vw;
  }
}
@media screen and (max-width: 500px) {
  #logoim img {
    width: 9vw;
  }
  .flags {
    right: 8%;
    margin-top: -6%;
  }
  .flags img {
    width: 4.2vw;
  }
}
@media screen and (max-width: 400px) {
  header h1 {
    font-size: 7vw;
  }
  #logoim {
    margin-top: 1%;
  }
  #logoim img {
    width: 10vw;
  }
  .flags {
    right: 12%;
    margin-top: -7%;
  }
  .flags img {
    width: 6vw;
  }
}

/*
FOOTER
*/
footer {
  width: 100%;
  position: absolute;
  margin-top: 100%;
  left: 0;
  height: 11vw;
  min-height: 50px;
  background-color: rgb(157, 157, 157, 0.8);
  text-align: center;
}
footer h4 {
  margin: 1vw 4vw;
  font-size: 1.5vw;
  color: #e0c24b;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.15), 0 1px rgb(0, 0, 0, 0.15), 1px 0 rgb(0, 0, 0, 0.15), 0 -1px rgb(0, 0, 0, 0.15);
  float: left;
}
#contact {
  position: absolute;
  margin: 4vw 3vw;  
  width: 25vw;
}
#contact i {
  color: #e0c24b;
  font-size: 1.3vw;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.1), 0 1px rgb(0, 0, 0, 0.1), 1px 0 rgb(0, 0, 0, 0.1), 0 -1px rgb(0, 0, 0, 0.1);
}
#contact td {
  font-size: 1.3vw;
  float: left;
  padding: 0px 10px;
}
#contact a {
  color: black;
  text-decoration: none;
}
#map {
  float: right;
}
#map img{
  margin-top: 0.5vw;
  margin-right: 2vw;
   width: 14vw;
   height: auto;   
   text-orientation: sideways-right;
}
#developer {
  float: left;
  font-size: 1.2vw;
}

#developer img{
  width: 1.5vw;
  margin: 0;  
}


@media screen and (max-width: 800px) {
  footer {
  border: 2px solid red;
  }
}

@media screen and (max-width: 500px) {
  footer {
    margin-top: 100vw;
  }
}
