* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
}
/*Scrollbar*/
/*SCROLLBAR*/
::-webkit-scrollbar {
  background-color: whitesmoke;
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #929292;
  border-radius: 5px;
}

h1,
h4,
p {
  font-family: "Lato", sans-serif;
}

/*
PHOTO SLIDER
*/
#home {
  background-image: url("../img/galBack.png");
}
.slideshow-container {
  z-index: 10;
  width: 50vw;
  height: 46vw;
  min-height: 250px;
  position: relative;
  margin: auto;
  padding-top: 7vw;
}
.dot {
  height: 1.5vw;
  width: 1.5vw;
  margin: 1vw 2px;
  background-color: #9d9d9d;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #e0c24b;
}
@media screen and (max-width: 800px) {
  .slideshow-container {
    padding-top: 10vw;
  }
}
@media screen and (max-width: 500px) {
  .slideshow-container {
    padding-top: 12vw;
    width: 60vw;
    height: 55vw;
  }
}
@media screen and (max-width: 400px) {
  .slideshow-container {
    padding-top: 20vw;
    width: 70vw;
  }
}

/*
SERVICES
*/
.servPart {
  position: relative;
  width: 80%;
  height: 30vw;
  margin: 8% 12%;
  align-content: center;
  background-image: linear-gradient(120deg, #9d9d9d, #e0c24b);
}
.servPart h4 {
  padding: 1%;
  font-size: 1.2vw;
}
.servLis {
  position: relative;
  width: 100%;
  font-family: "Lato", sans-serif;
  text-align: center;
  align-content: center;
  font-size: 1.3vw;
}
.servLis #subtitl {
  padding-right: 2vw;
  font-weight: 600;
}

#theLists {
  text-align: left;
  display: flex;
  width: auto;
  margin-top: 4vw;
  margin-left: 10vw;
}
#theLists ul {
  line-height: 1.8;
  list-style-image: url("../img/checkYellow.png");
}
#secList {
  margin-left: 10vw;
}
#secList ul {
  list-style-image: url("../img/checkGray.png");
}

@media screen and (max-width: 1000px) {
  .servPart {
    height: 35vw;
  }
  .servLis {
    font-size: 1.5vw;
  }
  #secList {
    margin-left: 8vw;
  }
}
@media screen and (max-width: 800px) {
  .servPart {
    width: 90%;
    margin-left: 5vw;
    height: 40vw;
  }
  .servPart h4 {
    font-size: 2vw;
  }
  .servLis {
    font-size: 1.8vw;
  }
  #theLists {
    margin-left: 5vw;
  }
  #secList {
    margin-left: 8vw;
  }
}
@media screen and (max-width: 700px) {
  .servPart {
    width: 100%;
    margin-left: 0vw;
    height: 55vw;
  }
  .servPart h4 {
    font-size: 3vw;
  }
  .servLis {
    font-size: 2.5vw;
  }
  #theLists {
    margin-left: 4vw;
  }
  #secList {
    margin-left: 8vw;
  }
}
@media screen and (max-width: 500px) {
  .servPart {
    width: 100%;
    margin-left: 0vw;
    min-height: 550px;
  }
  .servPart h4 {
    font-size: 3.3vw;
  }
  .servLis {
    font-size: 3.5vw;
    margin-top: 2vw;
  }
  #theLists {
    display: inline;
  }
  #theLists ul {
    margin-top: 5vw;
    margin-left: 10vw;
  }
  #secList {
    margin-left: 8vw;
  }
}

/*
POP UP MESSAGES 
*/
.animMessages {  
  position: absolute;  
  width: 85%;
  height: 42vw;
  margin: 50vw 8vw;  
 /* border: 2px solid cyan;*/
}
#section4Back{  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#section4Back img{
  width: 100%;
  height: 100%;  
}

@media (prefers-reduced-motion: no-preference) {
  .animMessages-animation {
    animation-name: wipe-enter;
    animation-duration: 2s;
    animation-iteration-count: forwards;
  }
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}